<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/login">Logar</a>
    <h2>Rotas</h2>
    <a href="/users/new">Novo Usuário</a> <br />
    <a href="/products/new">Novo Produto</a> <br />
    <a href="/products">Lista de Produtos</a> <br />
  </body>
</html>
