<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="login-form">
      <div>
        <label>E-mail</label>
        <input name="email" type="text">
      </div>
      <div>
        <label>Senha</label>
        <input name="password" type="password">
      </div>
      <button>Entrar</button>
    </form>
    <script src="/javascripts/login.js"></script>
  </body>
</html>
