<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar usuário</title>
</head>
<body>
    <h1>Cadastrar produto</h1>
    <form id="product-form">
        <div>
            <label for="name">Nome</label>
            <input id="name" name="name" type="text">
        </div>
        <div>
            <label for="price">Preço</label>
            <input id="price" name="price" type="text">
        </div>
        <div>
            <label for="sku">SKU</label>
            <input id="sku" name="sku" type="text">
        </div>
        <button>Salvar</button>
    </form>
    <script src="/javascripts/products/register.js"></script>
</body>
</html>
