<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Total de produtos: <span id="total"></span></p>
    <div id="list"></div>
    <script src="/javascripts/products/list.js"></script>

</body>
</html>
