<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Total de produtos: <%= products.length %></p>
    <% for(let i = 0; i < products.length; i++) {%>
        <p>
            Nome: <%= products[i].name %>
        </p>
        <p>
            SKU: <%= products[i].sku %>
        </p>
    <% } %>
</body>
</html>
